form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
}

label {
  padding: 0 0 5px 5px;
  font-size: 18px;
  font-weight: 600;
}

input {
  margin: 0px 0px 10px 0px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: 3px solid #e6e6e66c;
  outline: none;
  width: 100%;
  -webkit-box-shadow: 0px 3px 15px -7px #54545485;
  box-shadow: 0px 3px 15px -7px #54545485;
}

input:focus,
input:active {
  border: 3px solid #2b8f0a;
}

button {
  border-radius: 10px;
  transition: transform 80ms ease-in;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  margin-bottom: 7px;
  font-size: 15px;
}

button:active {
  transform: scale(0.95);
}

select {
  padding: 5px 0;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}
