.location-marker {
  align-items: center;
  border: 1px solid red;
}

.location-marker:hover::before {
  content: " Find Me ";
  width: 62px;
}

.location-marker:active {
  width: auto;
}
