.App {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.item {
  border: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 400px;
}

label {
  padding: 0 0 5px 5px;
  font-size: 18px;
  font-weight: 600;
}

input {
  margin: 0px 0px 15px 0px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #d5d5d542;
  outline: none;
  width: 100%;
}

input:focus,
input:active,
select:focus,
select:active {
  border: 2px solid #00ff0880;
}

button {
  border-radius: 10px;
  transition: transform 80ms ease-in;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
  outline: none;
  color: white;
}

select {
  padding: 5px 0;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #d5d5d542;
  outline: none;
}

@media (max-width: 500px) {
  form {
    width: 95%;
  }
}
