#drop {
  background-color: #fff;
  border: 1px solid #999;
}

#register {
  background-color: #2b8f0a;
  border: 1px solid #999;
}

#register:disabled {
  background-color: red;
}

.new {
  position: absolute;
  top: 0;
  z-index: 20;
  color: red;
  padding: 20px 10px;
  margin: 20px 10px;
  background-color: #2b8f0a;
  border-radius: 10px;
}
