#drop {
  background-color: #fff;
  border: 1px solid #999;
}

#register {
  background-color: #2b8f0a;
  border: 1px solid #999;
}

#register:disabled {
  background-color: red;
}

.distance-overlay {
  position: absolute;
  top: 0;
  z-index: 20;
  color: rgb(255, 255, 255);
  width: auto;
  padding: 20px 8px;
  margin: 20px 10px;
  border-radius: 10px;
  background-color: #ffffff2b;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -webkit-transition: all ease 0.7s;
  text-align: center;
}

.distance {
  font-size: 25px;
}

.number {
  font-size: 55px;
}

.meters {
  font-size: 25px;
}
